---
- hosts: all
  become: true

  vars:
    app_image: "rishad2001/jenkinsproject:1.0"
    app_container_name: "jenkinsproject"
    app_ports: "7070:8080"

  tasks:
    - name: Install required system packages
      ansible.builtin.apt:
        name:
          - apt-transport-https
          - ca-certificates
          - curl
          - software-properties-common
        state: present
        update_cache: yes

    - name: Add Docker GPG apt Key
      ansible.builtin.apt_key:
        url: https://download.docker.com/linux/ubuntu/gpg
        state: present

    - name: Add Docker Repository
      ansible.builtin.apt_repository:
        repo: deb [arch=amd64] https://download.docker.com/linux/ubuntu focal stable
        state: present

    - name: Install Docker Engine
      ansible.builtin.apt:
        name: docker-ce
        state: latest
        update_cache: yes

    - name: Ensure Docker service is started
      ansible.builtin.service:
        name: docker
        state: started
        enabled: true

    - name: Pull the Docker image for your application
      community.docker.docker_image:
        name: "{{ app_image }}"
        source: pull

    - name: Run the Docker container for your application
      community.docker.docker_container:
        name: "{{ app_container_name }}"
        image: "{{ app_image }}"
        published_ports:
          - "{{ app_ports }}"
        restart_policy: always
        state: started
